
<div >
    <mat-card class="center" style="width: 500px;" >
        <form class="example-form" >
            <mat-form-field class="example-full-width" appearance="fill" style="width: 300px;" text-align:center>
              <mat-label>Email</mat-label>
              <input matInput placeholder="ABC@gmail.com" value="">
            </mat-form-field>
        <br>
            <mat-form-field class="example-full-width" appearance="fill"style="width: 300px;" text-align:center>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" value="">
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" type="Submit">Login</button>
          </form>
    </mat-card>
</div>