.container{
    text-align: center;
}
.textarea {
  text-align: center;
    display: block;
    margin: 10px 0 8px;
   
  }
  .box{
    text-align: center;
  }
  .host {
    display: flex;
    flex-direction: column;
    align-items: flex-Left-start;
  }
  .example-card {
    max-width: 600px;
    align-content: center;
    margin-left: 33%;
    margin-top: 5%;
    ;
    
  }
  .mat-card{
    box-shadow: 10px 10px 10px 10px rgba(215, 222, 20, 0.4)
  }