<div>
<h2>Replay Subject</h2>
<br/>
<div class="row justify-content-left">
    <div class="col">
 <h3>Add Video</h3>
    </div>

    <div class="col text-right">

    </div>
</div>
<hr/>
<div class="row justify-content-centre">
    <div class="col-md-3">
        <input type="text" class="form-control" #video>
    </div>
    <div class="col-md-4">
        <button class="btn btn-success" (click)="onVideoAdd(video.value)">Add Video</button>
    </div>
</div>

</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <strong style="color:darkgreen">User -01</strong>
        <hr>
        <ul>
            <li *ngFor="let list of User1List">
                <strong>Video</strong>:{{list}}
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <strong style="color:brown">User -02</strong>
        <hr>
        <ul>
            <li *ngFor="let list of User2List">
                <strong>Video</strong>:{{list}}
            </li>
        </ul>
        <button class="btn" [ngClass]="subscribe2user? 'btn-danger':'btn-success'" 
        (click)="user2subscribe()">{{subscribe2user? 'Unsubscribe':'Subscribe'}}</button>
    </div>
</div>