/* .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-card-title{
    margin-left: 100%;
  }

  .example-card{
    height: 270px;
    width: 225px;
  }

  .example-full-width{
    height: 20px;
    font-size: 20px;
  }

  a:hover{
    color: red;
  } */
  .example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .login
  {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
   margin: 10px 0px 20px 0px;
  }

  .close_btn{
    display: flex;
    justify-content: right;
    align-items: flex-end;
  }
  .title{
    text-align: center ;
    font-weight: 500;
    font-size: 2rem;
    margin: 0px 0px 20px 0px;
  }