.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-card-title{
    margin-left: 100%;
  }

  .example-card{
    height: 270px;
    width: 225px;
  }

  .example-full-width{
    height: 20px;
    font-size: 20px;
  }

  a:hover{
    color: red;
  }
