
<p>
    <mat-toolbar color="primary">
      <span>ABC Corporation</span>
    </mat-toolbar>
  </p>

  <p>
    <mat-toolbar color="accent">
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span> Approval Management System</span>
    <span class="example-spacer"></span>
    <nav class="nav justify-content-left">
        <a class="nav-link active" routerLink="request">Request </a>
    </nav>
    <nav class="nav justify-content-left">
        <a class="nav-link active" routerLink="/login">Login </a>
    </nav>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
  </p>
  <div >
  
  <img src="./assets/OFFICE IMAGE.jpg" ></div>
  <router-outlet></router-outlet>
  
 
 