/* .container{
  display: flex;
  flex:1 1 1;
  min-width: 320px;
} */

.bg {
  max-width: 100%;
  max-height: 100%;
  width: 15%;
  height: auto;
  background-size :cover;
 
}

h1{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;

  font-size: 50px;
  
}
