/* :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */
  card{
     margin-left: 50%;
     margin-top: 10%;
    
  } 
  .example-form {
   
    min-width: 25%;
    max-width: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }