<mat-card class="card">
    <mat-card-title style=color:chocolate>New Request</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>

  <form [formGroup]='DetailForm'>
    
      <mat-form-field class="example-full-width1" appearance="fill">
        <mat-label>Reason</mat-label>
        <mat-card-content style="color: darkred;">Reason:</mat-card-content>
        <input formControlName="Reason" matInput placeholder="Reason" value="Dinner" class="Reason">
      </mat-form-field>
       <br>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <mat-card-content style="color: darkred;">Description:</mat-card-content>
        <textarea matInput formControlName="Description" placeholder="Describe Here!" class="Desc"></textarea>
      </mat-form-field>
       
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Approval</mat-label>
        <input   matInput disabled value="Approving Authority : Finance Deaprtment" class="Approve">
      </mat-form-field>
      
      <br>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <mat-card-content style="color: darkred;">$Amount$:</mat-card-content>
        <input matInput formControlName="Amount" matInput type="number" #Amount maxlength="5" placeholder="#Amount" value="00000" class="Value">
        <mat-hint align="end">{{Amount.value.length}} / 5</mat-hint>
      </mat-form-field>
      
      <br>
      <mat-form-field appearance="fill" >
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" class="date" >
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      
  </form>
  
  <mat-card >
  <button style="margin-left:45px" mat-raised-button color="primary" (click)="Submit()" >
    Submit
  </button>&nbsp;
  <button style="margin-left:30px"mat-raised-button color="accent" (click)="Reset()">
    Reset
  </button>&nbsp;
   </mat-card>
</mat-card>