.card{
  text-align: center;
}
.Reason{
  margin-left: 0px;
  width:400px ;
  height: 30px;
}
.Desc{
  margin-left: 0px;
  width:400px ;
  height: 70px;
}
.Approve{
  margin-left: 0px;
  width:400px ;
  height: 50px;
}
.Value{
  margin-left: 0px;
  width:400px ;
  height: 35px;
}
.date{

}


