
 <!-- <mat-card class="card">
    <mat-card-title>Request </mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
    
     
          <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Reason</mat-label>
          <input matInput placeholder="Reason" value="Dinner">
        </mat-form-field>
      <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Describe Here!"></textarea>
        </mat-form-field>
     
       <br>
  <mat-form-field class="demo-full-width" appearance="fill">
    <mat-label>Authority</mat-label>
    <select  >
      <option value=""></option>
      <option value="valid" selected>Manager</option>
      <option value="invalid">Country Manager</option>
    </select>
   </mat-form-field>
       <br>
    
  <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->
  <mat-card class="card">
    <mat-card-title>New Request</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label></mat-label>
      <input matInput disabled value="Request Here!">
    </mat-form-field>
  <tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Reason</mat-label>
        <input matInput placeholder="Reason" value="Dinner">
      </mat-form-field></td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label></mat-label>
        <textarea matInput  placeholder="Describe Here!"></textarea>
      </mat-form-field></tr>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label></mat-label>
        <input matInput disabled value="Approving Authority : Finance Deaprtment">
      </mat-form-field></td>
      <br>
 
  
    <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <input matInput #Amount maxlength="5" placeholder="#Amount" value="00000">
        <mat-hint align="end">{{Amount.value.length}} / 5</mat-hint>
      </mat-form-field>
    </td>
<!--   
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      
  </form>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>