.example-spacer {
    flex: 1 1 auto;
    
  }
  .example-card {
    max-width:100% ;
    margin-bottom: 8px;
  }
  .table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 20px;
    width: 100%;
  }
  .container{
    max-width: 1200px;
    margin: auto;
  }
  
 .td, th {
    width: 35%;
  }
  

