
  
  
    <mat-toolbar color="primary"class="toolbar" >
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Library</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon  routerLink="/create"></mat-icon>
  </button>
  <a class="nav-link" routerLink="login">login</a><br><br>
  <a class="nav-link" routerLink="adminoperation">adminoperation</a><br>
  <a class="nav-link" routerLink="dialog">dialog</a><br>
  </mat-toolbar>
  
