
<div class="nav_box">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Student Library<mat-icon>library_books</mat-icon></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)= "openLoginDialog()" >
      <mat-icon>login</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)= "openRegDialog()">
      <mat-icon>person_add</mat-icon>
    </button> -->
  </mat-toolbar>
</div>
  



