<h1 class="text-center text-primary mt-3 text-bold">Check Angular Proficiency</h1>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <label>ID</label>
        <input type="text" name="id" [(ngModel)]="employee.id"/>
        <label>Name</label>
        <input type="text" name="name" [(ngModel)]="employee.name"/>
        <label>Location</label>
        <input type="text" name="location" [(ngModel)]="employee.location"/>
        <label>Proficiency</label>
        <input type="number" name="proficiency" [(ngModel)]="employee.proficiency"/>
        <button class="btn btn-success"type="submit" (click)="addEmployee()">Add</button>
    </div>
</div>